---
name: commit

on:
  push:

jobs:
  lint:
    name: Python Lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install requirements
        run: pip install flake8 pycodestyle
      - name: Run flake8
        run: flake8 . --count --show-source --statistics --ignore=E501

  test:
    strategy:
      matrix:
        py-version: [3.6, 3.7, 3.8, 3.9, 3.10]
    name: Pytest
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.py-version }}
      - name: Run pytest
        run: pytest
